In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from typing import Sequence, List, Tuple

In [2]:
# pull in only relevant data for development.
raw = pd.read_excel("../data/raw/MASTER FILE.xlsx", 
sheet_name="PAT_POP", 
index_col=0,
usecols=[0]+ [x for x in range(2,95)], # will ammend later
header=0)

In [3]:
raw.reset_index().to_csv("../data/interim/pat_pop.csv", index=False)

In [9]:
df = pd.read_csv("../data/interim/pat_pop.csv", index_col =0)

In [10]:
df.reset_index(inplace=True)

In [16]:
df["OCT_DATE"][0]

nan

In [13]:
df[df["OCT_DATE"].notnull()]

,MRN,RaceName,EthnicGroupName,HispanicOrNot,Age,FirstDXDate,IncludedEye,OCT_DATE,Sub-RPE 5mm OD,dist_fovea_OD,...,LDL date 30 days after FirstDxDate,LDL result 30 days after FirstDxDate,Potassium date 30 days after FirstDxDate,Potassium result 30 days after FirstDxDate,Serum Creatinine date 30 days after FirstDxDate,Serum Creatinine result 30 days after FirstDxDate,Sodium date 30 days after FirstDxDate,Sodium result 30 days after FirstDxDate,Total cholesterol date 30 days after FirstDxDate,Total cholesterol result 30 days after FirstDxDate
11,6616941,White,Caucasian,Not Hispanic,99.233401,2019-09-16,OU,2019-08-28 00:00:00,11.7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,9560483,White,Caucasian,Not Hispanic,86.721423,2020-09-09,OU,2020-08-13 00:00:00,1.1,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,9644075,White,Caucasian,Not Hispanic,98.546201,2018-03-20,OU,2018-04-05 00:00:00,1.9,0,...,NaN,NaN,2018-04-11 11:46:00,3.8,2018-04-11 11:46:00,1.3,2018-04-11 11:46:00,134.0,NaN,NaN
49,9826424,White,Caucasian,Not Hispanic,90.234086,2018-08-06,OU,2018-08-07 00:00:00,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,9976515,White,Caucasian,Not Hispanic,95.501711,2017-05-16,OU,2017-05-11 00:00:00,1.3,0.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293,80013353,White,Caucasian,Not Hispanic,93.122518,2017-02-28,OU,2017-02-08 00:00:00,0.8,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,84127618,White,Caucasian,Not Hispanic,84.257357,2017-07-24,OD,OD CONVERTS TO WET,0.9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379,84772339,White,Caucasian,Not Hispanic,99.419575,2021-07-06,OS,2021-08-05 00:00:00,WET AMD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,86024396,White,Caucasian,Not Hispanic,79.753593,2020-02-03,NaN,2020-04-30 00:00:00,WET AMD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1451,87546083,White,Caucasian,Not Hispanic,89.864476,2020-03-02,OS,2020-02-05 00:00:00,WET AMD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
def try_str_to_date(val):
    try:
        return datetime.strptime(val, "%Y-%m-%d %H:%M:%S").date()
    except:
        return val

In [15]:
datetime.strptime("2019-08-28 00:00:00", "%Y-%m-%d %H:%M:%S").date()

datetime.date(2019, 8, 28)

In [5]:
try_str_to_date("3/18/2021 12:00:00")

'3/18/2021 12:00:00'

In [18]:
def try_str_to_float(val):
    try:
        return float(val)
    except:
        return val

In [37]:
try_str_to_float(NaN)

float

In [38]:
string_to_blank_save_date(pd.Series(["2019-08-28 00:00:00", "", "4.6", 4.6]))

0    2019-08-28 00:00:00
1                    NaN
2                    NaN
3                    4.6
dtype: object

In [17]:
def string_to_blank_save_numeric(col: Sequence) -> Sequence:
    """Converts all values of type str to NaN. Keeps numeric strings."""
    result = [np.nan if type(try_str_to_float(x)) == str else x for x in col]
    return pd.Series(result, name=col.name)

def string_to_blank_save_date(col: Sequence) -> Sequence:
    """Converts all values of type str to NaN. Keeps dates strings."""
    result = [np.nan if type(try_str_to_date(x)) == str else x for x in col]
    return pd.Series(result, name=col.name)

# def comma_split(df: pd.DataFrame, col_name: str, col: Sequence) -> pd.DataFrame:
#     """comma separates values into new columns"""
#     result = pd.DataFrame([x.split(',') for x in df[col_name].tolist()])
#     return result

# def string_to_flag_col(df, col_name):
#     df[f"col_name_notes"] = df.apply(lambda x: 1 if type(x[col_name]) == str else np.nan, axis =1)
#     second_col = [1 for x in df[col_name] if type(x)==str]
#     first_col = string_to_blank(df["col_name"])

# def value_to_notes_col(df, col_name: str, vals_to_notes: List):
#     new_col_name=f"{col_name}_notes"
#     notes_col = [x if x in vals_to_notes else x for x in df[col_name]]
#     amended_col = string_to_blank(df[col_name])
#     return df[col_name], [amended_col, notes_col]

In [23]:
val = pd.Series(["hi", "", "4.6", 4.6])
s = string_to_blank_save_numeric(val)

In [24]:
s

0    NaN
1    NaN
2    4.6
3    4.6
dtype: object

In [30]:
from numpy import NaN
len(s.compare(pd.Series([NaN, NaN, "4.6", 4.6])))

0

In [ ]:
{
    "OCT_DATE": {"format": "date", "string_intention": "mixed", "vals_to_notes" = ["NO ATROPHY", "OD CONVERTS TO WET"]},
    "Sub-RPE 5mm OD": {"format": "numeric", "string_intention": "notes"},
    "dist_fovea_OD": {"format": "numeric", "string_intention": "blank"},
    "cst_OD": {"format": "numeric", "string_intention":"notes"},
    "Sub-RPE 5mm OS": {"format": "numeric", "string_intention": "notes"},
    "questionable_OS": {"format": "numeric", "string_intention": "blank"}

}

In [255]:
def display_check(result):
    old_col = result[0]
    new_cols = result[1]
    diff = old_col.compare(new_cols[0], result_names=(old_col.name, new_cols[0].name))
    if len(new_cols)>1:
        idx = list(diff.index) 
        cols = [old_col]+new_cols
        return pd.DataFrame(cols).T.loc[idx]
    return diff

In [ ]:
class PatpopScrub:
    def __init__(col: Sequence, instructions: Mapping):
        self.format = instructions["format"]
        self.string_intention = instructions["string_intention"]
        self.old_col = col.copy()
        self.notes_col_name = f"{col.name}_notes" if instructions["string_intention"] != "blank" else None
        self.old_col_name = f"old_{col.name}"
        self.notes = self._get_notes()

    def _get_notes(self):
        if self.string_intention == "mixed":
            if self.format == "date"
                return pd.Series([x if x in self.instructions["vals_to_notes"] else np.nan for x in old_col], name=self.notes_col_name)
            else:
                raise(ValueError(f"Cannot have string_intention 'mixed' with format {self.format}"))
        if self.string_intention == "notes":
            if self.format == "numeric":
                return pd.Series([x if type(try_str_to_float(x)) == str else np.nan for x in old_col])
            else:
                raise(ValueError(f"Cannot have string_intention 'notes' with format {self.format}"))
        if self.string_intention == "blank":
            return None

    def clean():
        if self.format == "numeric":
            ammended_col = string_to_blank_save_numeric(old_col)
        if self.format == "date":
            ammended_col = string_to_blank_save_date(col)
        if self.notes:
            return Tuple(self.old_col, [ammended_col, self.notes])
        else:
            return Tuple(self.old_col, [ammended_col])

In [256]:
def pat_pop_date_str2mixed(col: Sequence, vals_to_notes: List[str]) -> Tuple[Sequence, List[Sequence]]:
    """applied to date column, some strings to blank, some to notes column"""
    old_col = col.copy()
    new_col_name = f"{col.name}_notes"
    old_col.name = f"old_{col.name}"
    notes_col = [x if x in vals_to_notes else np.nan for x in old_col]
    amended_col = string_to_blank_save_date(col)
    return (old_col, [amended_col, pd.Series(notes_col, name=new_col_name)])

In [277]:
def pat_pop_numeric_str2notes(col: Sequence) -> Tuple[Sequence, List[Sequence]]:
    """applied to a numeric column, strings to notes column
    Applied to Sub-RPE_5mm_OD, CST_OD, Sub-RPE_5mm_OS"""
    old_col = col.copy()
    new_col_name= f"{col.name}_notes"
    old_col.name=f"old_{col.name}"
    amended_col = string_to_blank_save_numeric(col)
    notes_col = [x if type(try_str_to_float(x)) == str else np.nan for x in old_col]
    return (old_col, [pd.Series(amended_col, name=col.name), pd.Series(notes_col, name=new_col_name)])

In [281]:
def pat_pop_numeric_str2blank(col: Sequence) -> Tuple[Sequence, List[Sequence]]:
    """applied to numeric column, strings to blank
    applied to dist_fovea_OD and questionable_OS"""
    old_col = col.copy()
    old_col.name=f"old_{col.name}"
    new_col = string_to_blank_save_numeric(col)
    return (old_col, [pd.Series(new_col, name=col.name)])

In [283]:
res = pat_pop_numeric_str2blank(df["questionable_OS"])

In [237]:
len(cols)

1472

In [233]:
list(res[0].compare(res[1][0], result_names=(res[0].name, res[1][0].name)).index)

[75, 357, 495, 1144, 1149, 1370]

In [204]:
idx = res[0].compare(res[1][0], result_names=(res[0].name, res[1][0].name)).index

In [205]:
ilist = list(idx)