### environment

In [1]:
# environment
import os
import sys
root_path = os.path.abspath("../")
sys.path.append(root_path)

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from typing import Sequence, List, Tuple

In [13]:
s = pd.read_excel("../data/raw/ccf_apellis_data_cleaning_summary_20231205.xlsx")

In [49]:
s = pd.read_excel("../data/raw/ccf_apellis_data_cleaning_summary_20231205.xlsx", 
                  sheet_name="PAT_POP_Estimated GFR result 30", 
                  header=3, 
                  usecols="A:D").iloc[:42]

In [50]:
s

,Value,Occurrences,Rule (to be defined by CCF team),Add'l notes
0,>60,117,60.00,Add 'imputation flag' column
1,59,7,59.00,NaN
2,55,6,55.00,NaN
3,52,5,52.00,NaN
4,46,4,46.00,NaN
5,58,4,58.00,NaN
6,54,3,54.00,NaN
7,57,3,57.00,NaN
8,45,2,45.00,NaN
9,42,2,42.00,NaN
10,13,2,13.00,NaN
11,38,2,38.00,NaN
12,60,2,60.00,NaN
13,49,2,49.00,NaN
14,36,2,36.00,NaN
15,53,2,53.00,NaN
16,40,2,40.00,NaN
17,51,2,51.00,NaN
18,29,2,29.00,NaN
19,56,2,56.00,NaN
20,48,2,48.00,NaN
21,4,1,4.00,NaN
22,54.29,1,54.29,NaN
23,14,1,14.00,NaN
24,21,1,21.00,NaN
25,Greater than 60,1,60.00,Add 'imputation flag' column
26,27,1,27.00,NaN
27,8,1,8.00,NaN
28,43,1,43.00,NaN
29,28,1,28.00,NaN
30,52.45,1,52.45,NaN
31,33,1,33.00,NaN
32,31,1,31.00,NaN
33,41,1,41.00,NaN
34,50,1,50.00,NaN
35,30,1,30.00,NaN
36,24,1,24.00,NaN
37,47,1,47.00,NaN
38,35,1,35.00,NaN
39,37,1,37.00,NaN
40,87.11,1,87.11,NaN