### environment

In [11]:
# environment
import os
import sys
root_path = os.path.abspath("../")
sys.path.append(root_path)

In [12]:
import pandas as pd
import numpy as np
from datetime import datetime
from typing import Sequence, List, Tuple

In [13]:
s = pd.read_excel("../data/raw/ccf_apellis_data_cleaning_summary_20231206.xlsx")

In [16]:
s = pd.read_excel("../data/raw/ccf_apellis_data_cleaning_summary_20231206.xlsx", 
                  sheet_name="PAT_POP_ALCOHOL_OZ_PER_WK", 
                  header=3, 
                  usecols="A:D").iloc[:41]

In [17]:
s

,Value,Occurrences,Rule (to be defined by CCF team),Add'l notes
0,1.5,18,1.50,NaN
1,1,15,1.00,NaN
2,6,12,6.00,NaN
3,3,9,3.00,NaN
4,.6,7,0.60,NaN
5,.5,6,0.50,NaN
6,10.5,6,10.50,NaN
7,10,6,10.00,NaN
8,2,5,2.00,NaN
9,4.5,4,4.50,NaN
10,18,4,18.00,NaN
11,21,4,21.00,NaN
12,1.2,4,1.20,NaN
13,7,4,7.00,NaN
14,15,3,15.00,NaN
15,9,3,9.00,NaN
16,3.5,3,3.50,NaN
17,36,2,36.00,NaN
18,14,2,14.00,NaN
19,4.5 - 6,2,5.25,Add 'imputation flag' column
20,7.5,1,7.50,NaN
21,15 - 18,1,16.50,Add 'imputation flag' column
22,52.5,1,52.50,NaN
23,6 - 7.5,1,6.75,Add 'imputation flag' column
24,4,1,4.00,NaN
25,0 - 1.5,1,0.75,Add 'imputation flag' column
26,22.5,1,22.50,NaN
27,31.5,1,31.50,NaN
28,8.4,1,8.40,NaN
29,80,1,80.00,NaN
30,40,1,40.00,NaN
31,2.5,1,2.50,NaN
32,4.2,1,4.20,NaN
33,.25,1,0.25,NaN
34,84,1,84.00,NaN
35,1.5 - 3,1,2.25,Add 'imputation flag' column
36,35,1,35.00,NaN
37,0,1,0.00,NaN
38,12,1,12.00,NaN
39,0.5,1,0.50,NaN
40,0.6,1,0.60,NaN